   <div alt="hd_water">
       <img src="img/home/hd_water_water.png" id="hd_water_water" alt="hd_water" class="hd_water">
       <div class="hd_water_item_box">
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item01 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item01 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item01 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item01 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item01 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item01 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item01 hd_water'>
           <img src="img/home/hd_water_item01.png" class='hd_water_item hd_water_item01 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item02 hd_water'>
           <img src="img/home/hd_water_item02.png" class='hd_water_item hd_water_item02 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item03 hd_water'>
           <img src="img/home/hd_water_item03.png" class='hd_water_item hd_water_item03 hd_water'>
       </div>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water'>
       <img src="img/home/hd_water_round.png" class='hd_water_round hd_water'>
   </div>