
<section id="login_gary" class="login_gary">
    <div class="login_box">
        <div id="login_del" class="login_del"></div>
        <p>會員登入</p>
        <form action="#">
            <p> <input type="text" placeholder="帳號" id='user_id' name="user_id"></p>
            <p> <input type="password" placeholder="密碼" id='user_psw' name="user_psw"> </p>
        </form>
        <button class="btn_cloud" id='login_btn'> 登入<span class="btn_cloudeffect"></span>
            <span class="btn_cloudeffect"></span>
            <span class="btn_cloudeffect"></span>
            <span class="btn_cloudeffect"></span></button>
        <a id="registered" href="#">立即註冊</a> <a href="#">忘記密碼</a>
    </div>
</section>

<section id="registered_gary" class="registered_gary">
    <div class="registered_box">
            <div id="registered_del" class="registered_del"></div>
        <p>會員註冊</p>
        <form action="#" id="myForm">
            <p> <input type="text" name="memId" placeholder="帳號*"></p>
            <p> <input type="password" name="memPsw" placeholder="密碼*"> </p>
            <p> <input type="password" placeholder="確認密碼*"> </p>
            <p> <input type="text" name="email" placeholder="電子郵件*"></p>
        </form>
        <button class="btn_cloud" id="register_finish" >完成<span class="btn_cloudeffect"></span>
            <span class="btn_cloudeffect"></span>
            <span class="btn_cloudeffect"></span>
            <span class="btn_cloudeffect"></span></button>
        <a href="#">返回登入</a> <a href="#">忘記密碼</a>
    </div>
</section>

<script>
    function $id(id) {
        return document.getElementById(id);
    };
    var userData;

    //進網頁or刷新時，聯結php，去sessionStorage撈資料，判斷使用者是否已登入
    function getLoginInfo() {
        if (sessionStorage.user_id) {   //已登入
            $id("show_user_name").innerText = "您好，" + sessionStorage.user_name;
            $id("login_text").innerText = "登出";
        } else {
            $id("login_text").innerText = "登入/註冊";    //尚未登入
            document.getElementsByClassName('member_icon')[0].onclick = function () {
                alert("請登入會員");
                return false;
            }
        }
    }


    //跳出登入視窗功能 + 登出功能  
    function showLoginForm() {
        if ($id('login_text').innerText == '登入/註冊') {  //按下去，跳出視窗
            $id('login_gary').style.display = 'block'
        } else if ($id('login_text').innerText == '登出') {   //按下去，要登出
            //clear session storage
            let user_id = sessionStorage.user_id;
            let user_psw =  sessionStorage.user_psw;
            let xhr = new XMLHttpRequest();
            xhr.onload = function () {
                if (xhr.status == 200) {
                    if (xhr.responseText.indexOf("sysError") != -1) {
                        alert("系統異常,請通知系統維護人員");
                    }else { 
                        let userData = JSON.parse(xhr.responseText)[0];
                        for (i in userData) {
                            sessionStorage.removeItem(i);
                        }
                    }
                } else {
                    alert(xhr.statusText);
                }
            }
            xhr.open("post", "php/login/login.php", true);
            xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
            xhr.send(`user_id=${user_id}&user_psw=${user_psw}`);

            //clear session
            logOut();
            

            $id('login_text').innerHTML = "登入/註冊";
            $id("show_user_name").innerHTML = "&nbsp;";
            $id("user_id").value = "";
            $id("user_psw").value = "";
            //如果是在會員中心頁面登出，要跳回首頁
            if (window.location.href == "http://localhost/G3/member.php" ) {
                window.location.href = "http://localhost/G3/home.html"
            }else if(window.location.href == "http://localhost/G3/checkOrder.html"){
                window.location.href = "http://localhost/G3/cart.php"
            }
            //未登入，無法進入會員中心
            document.getElementsByClassName('member_icon')[0].onclick = function () {
                alert("請登入會員");
                return false;
            }
        }
        return false;
    }
    //清session
    function logOut(){
        var xhr = new XMLHttpRequest();
        xhr.open("Get", "php/login/logout.php",true);
            xhr.send( null );
    }
    
    //登入功能
    function sendForm() {
        let user_id = $id('user_id').value;
        let user_psw = $id('user_psw').value;
        //如果沒打字，不給登入
        if (user_id == '' || user_psw == '') {
            alert('帳號及密碼不可為空');
            //如果都打字了，才去判斷
        } else {
            let xhr = new XMLHttpRequest();

            xhr.onload = function () {
                if (xhr.status == 200) {
                    if (xhr.responseText.indexOf("sysError") != -1) {
                        alert("系統異常,請通知系統維護人員");
                    } else if (xhr.responseText.indexOf("loginError") != -1) {
                        alert("帳密錯誤");
                    } else { //登入成功
                        //寫入session storage
                        let userData = JSON.parse(xhr.responseText)[0];
                        for (i in userData) {
                            sessionStorage.setItem(i, userData[i]);
                        }
                        $id("show_user_name").innerText = "您好，" + userData.user_name;
                        $id("login_text").innerText = "登出";
                        $id("login_gary").style.display = "none";
                        //讓會員中心可以進入
                        document.getElementsByClassName('member_icon')[0].onclick = null;
                    }
                } else {
                    alert(xhr.statusText);
                }
            }
            xhr.open("post", "php/login/login.php", true);
            xhr.setRequestHeader("content-type", "application/x-www-form-urlencoded");
            xhr.send(`user_id=${user_id}&user_psw=${user_psw}`);
        }
    }


    function cancelLogin() {
        $id("user_id").value = "";
        $id("user_psw").value = "";
        $id('login_gary').style.display = 'none'

    }
    function cancelRegistered() {
      
        $id('registered_gary').style.display = 'none';
        $id('login_gary').style.display = 'block';
    }

    function registered(){
        $id('login_gary').style.display = 'none';
        $id('registered_gary').style.display = 'block';   
    }

    function sendRegisteration(){
        var xhr = new XMLHttpRequest();
        xhr.onload = function(){
			console.log( xhr.responseText);
		}

		xhr.open("post","php/login/register.php",true);
		var myForm = new FormData(document.getElementById("myForm"))
		xhr.send(myForm);
    }


    window.addEventListener('load', function () {
        //---------檢查使用者是否已登入, 並取回登入資訊
        getLoginInfo();

        //===設定spanLogin.onclick 事件處理程序是 showLoginForm
        $id("login_text").onclick = showLoginForm;
        //===設定btnLogin.onclick 事件處理程序是 sendForm
        $id("login_btn").addEventListener("click",sendForm);
        // //===設定btnLoginCancel.onclick 事件處理程序是 cancelLogin
        $id("login_del").onclick = cancelLogin;
        //===設定registered.onclick 事件處理程序是 registered
        $id("registered").onclick =  registered;
        //===設定btnLoginCancel.onclick 事件處理程序是 cancelLogin
        
        $id("registered_del").onclick = cancelRegistered;
        // $id("registered_del").onclick = console.log(123);

        $id("register_finish").onclick = sendRegisteration;
        //====送出註冊完成的資料        
        
        
    })
</script>