
// 手機~手機~手機~手機~手機~手機~手機~手機~手機~

*{
    outline: 1px solid red;
}


.modify_body{
    background-color: #dbde7f;
    background-image: url(../img/modify/modify_s_bg.png);
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    // background-color:transparent
}


.modify_banner{
    padding-top: 70px;

    .banner_cloud{
        font-size: 0;
        width: 60%;
        margin: auto;
        position: relative;
        background-image: url(../img/header/banner_cloud.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 40px 0px 30px 0px;
        .icon_l{
            width: 25px;
            height: 25px;
        }
        .icon_r{
            width: 25px;
            height: 25px;
        }
        .title{
            margin: 0px 10px;
        }
    }
    .about{
        margin: 10px;
        text-align: center;
        img{
            width: 15%;
            display: inline-block;
            vertical-align: middle;
        }
        p{
            margin: 0 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}



.modify{

    .container{
        width: auto;
    }
    .part_box{
        width: 100%;
        text-align: center;
        position: relative;
        .text{
            padding: 10px;
            text-align: center;
            p{
                display: inline-block;
                vertical-align: middle;
            }
            input{
                display: inline-block;
                vertical-align: middle;
                border-radius: 5px;
            }
        }



        .tool{
            text-align: center;
            margin-top: 10px;
            img{
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px;
            }
        }

        .btn_box{
            text-align: center;
            @include btn_cloudp(100px);
            .btn_cloudp{
                margin: 10px 20px;
            }
            @include btn_cloudb(100px);
            .btn_cloudb{
                margin: 10px 20px;
            }
            @include btn_cloudy(100px,$col_btn_orange);
            .btn_cloudb{
                margin: 10px 20px;
            }
            #up_bg_file{
                display: none;
            }
        }
    }

    .select_box{
        width: 100%;
        font-size: 0;
        padding-bottom: 90%;
        .button_ul{
            width: calc(100% - 20px);
            margin: 10px;
            text-align: center;
            position: relative;
        }

        .part_button{
            // width: 15%;
            margin: 10px 5px;
            padding: 5px 10px;
            display: inline-block;
            font-size: 16px;
            text-align: center;
            // background-color: $col_modify_box;
            background-color: $col_modify_box;
            border-radius: 15px 15px 0px 0px;
            border-top: 3px solid $col_modify_boxshadow;
            border-left: 3px solid $col_modify_boxshadow;
            border-right: 3px solid $col_modify_boxshadow;
            border-bottom: 3px solid $col_modify_boxshadow;


            label{
                color: $col_black;
                cursor: pointer;
            }

            input{
                display: none;
                &:checked ~ ul{
                    display: flex;
                }
            }

            .part_wrap{
                position: absolute;
                width: 95%;

                display: flex;
                flex-wrap: wrap;
                top: 45px;
                left: 0;
                right: 0;
                margin: auto;
                background-color: $col_white;
                display: none;
                border: 5px solid $col_modify_box;
                border-right: 5px solid $col_modify_box;
                border-left: 5px solid $col_modify_box;
                border-bottom: 5px solid $col_modify_box;
                border-radius: 25px;
                box-shadow: 2px 2px 0px 3px $col_modify_boxshadow;
                li{
                    width: 50%;
                    box-sizing: border-box;
                    padding: 10px;
                    img{
                        width: 70%;
                        cursor: pointer;
                        margin-top: 10px;
                        &:hover {
                            filter: drop-shadow(0px 0px 10px $col_btn_pink);
                        }
                    }
                }
            }
        }
    }
    .info_box{
        box-sizing: border-box;
        padding: 20px 10px;
        @include radarinfo();

        .hit{
            margin: 20px 10px 10px 10px;
            font-size: $s_fz;
            text-align: center;
        }
    }
}


.modify_inputbg{

    .container{
        padding: 10px;
    }


    .showbg_wrap{
        width: 100%;
        padding-bottom: 20px;
        .bgimg_box{
            // width: 180px;
            // height: 240px;
            width: 50%;
            height: 0;
            padding-bottom: 66.6%;
            border: 3px dotted #ccc;
            background-color: #aaf;
            margin: auto;
            position: relative;
            .bgimg{
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .cloneimg{
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    .selectbg_wrap{
        width: 100%;
        font-size: 0;
        // padding-bottom: 90%;
        .button_ul{
            width: calc(100% - 20px);
            margin: auto;
            text-align: center;
            position: relative;
            padding-bottom: 75%;
        }

        .part_button{
            // width: 15%;
            margin: 10px 20px;
            padding: 5px 10px;
            display: inline-block;
            font-size: 16px;
            text-align: center;
            // background-color: $col_modify_box;
            background-color: $col_modify_box;
            border-radius: 15px 15px 0px 0px;
            border-top: 3px solid $col_modify_boxshadow;
            border-left: 3px solid $col_modify_boxshadow;
            border-right: 3px solid $col_modify_boxshadow;
            border-bottom: 3px solid $col_modify_boxshadow;
        
            label{
                color: $col_black;
                cursor: pointer;
            }
            
            input{
                display: none;
                &:checked ~ ul{
                    display: flex;
                }
            }

            .part_wrap{
                position: absolute;
                width: 95%;

                display: flex;
                flex-wrap: wrap;
                top: 45px;
                left: 0;
                right: 0;
                margin: auto;
                background-color: $col_white;
                display: none;
                border: 5px solid $col_modify_box;
                border-right: 5px solid $col_modify_box;
                border-left: 5px solid $col_modify_box;
                border-bottom: 5px solid $col_modify_box;
                border-radius: 25px;
                box-shadow: 2px 2px 0px 3px $col_modify_boxshadow;
            
                li{
                    width: 50%;
                    box-sizing: border-box;
                    padding: 10px;
                    img{
                        width: 50%;
                        cursor: pointer;
                        margin-top: 10px;
                        &:hover {
                            filter: drop-shadow(0px 0px 10px $col_btn_pink);
                        }
                    }
                }
            
            }
        }
    }
}



.remind_login{
    width: 70%;
    height: 30%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: $col_white;
    border: 5px solid $col_btn_orange;
    border-radius: 15px;
    text-align: center;
    display: none;
    animation: showup .4s linear;
    p{
        margin-top: 50px;
    }
    .close_remind{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #faa;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .btn_cloudb{
        margin-top: 30px;
    }

}
.remind_login.show{
    display: block;
}

@keyframes showup {
    0%{opacity: 0;}
    100%{opacity: 1;}

}





.need_name{
    width: 200px;
    height: 120px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: $col_white;
    border: 5px solid $col_btn_orange;
    border-radius: 15px;
    text-align: center;
    display: none;
    animation: showup .4s linear;
    z-index: 3;
    p{
        margin-top: 50px;
    }
    .close_remind{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #faa;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
.need_name.show{
    display: block;
}


// 電腦~電腦~電腦~電腦~電腦~電腦~電腦~電腦~
@media screen and (min-width:996px){
    

    
    .modify_body h1{
        font-size:$h1_fz;

    }

    .modify_body{
        background-image: url(../img/modify/modify_bg.png);
        background-size: cover;

    }

    .container{
        max-width: 1200px;
        margin: auto;
    }

    .modify_banner{
        margin: auto;
        padding-top: 120px;

        .banner_cloud{
            width: 30%;
            padding: 60px 0px 50px 0px;

            .title{
                margin: 0px 20px;
            }

        }
        .about{
            img{
                width: 80px;
            }
        }
    }


    .modify{
        padding-bottom: 50px;
        .container{
            display: flex;
        }

    .part_box{
        width: 40%;
        // padding: 20px 10px;
        .pic_box{
            width: 90%;
            padding-bottom: 90%;
        }
        .tool{
            padding-bottom: 20px;
        }
    }

    .select_box{
        width: 30%;
        padding: 50px 10px 10px 10px;
        .part_button{
            margin: 10px 0px;
        }

    }


    .info_box{
        width: 30%;
        padding: 50px 20px 40px 20px;
        margin: 0;
        .info_wrap{
            .life_ability{
                padding: 10px 10px 10px 10px;
                p{
                    font-size: 15px;
                }
            }
            .jump_ability{
                padding: 10px 10px 10px 10px;
                p{
                    font-size: 15px;
                }
            }
        }


        .hit{
            margin: 20px 0px;
            }
        }
    }

    .remind_login{
        width: 350px;
        height: 200px;
    }

    .need_name{
        width: 300px;
    }



    .modify_inputbg{
        padding-top: 50px;
        .container{
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 5%;
            padding-right: 5%;
            display: flex;
            box-sizing: border-box;
        }

        .showbg_wrap{
            width: 50%;
            padding-top: 30px;
            .bgimg_box{
                margin-right: 10%;

            }
        }

        .selectbg_wrap{
            width: 50%;
            padding: 0px 20px 0px 20px;
            .button_ul{
                padding-bottom: 70%;
            }
        }



    }












}


@media screen and (min-width:1200px){

.modify{
    .select_box{
        .part_button{
            margin: 10px 5px;
        }
    }



    .info_box{
        .info_wrap{
            .life_ability{
                padding: 10px 10px 10px 40px;
                p{
                    font-size: 16px;
                }
            }
            .jump_ability{
                padding: 10px 10px 10px 40px;
                p{
                    font-size: 16px;
                }
            }
        }
    }




}
}
