
// 手機~手機~手機~手機~手機~手機~手機~手機~手機~

*{
    // outline: 1px solid red;
}


.modify_body{
    background-color: #dbde7f;
    background-image: url(../img/modify/modify_s_bg.png);
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:transparent
}


.modify_banner{
    padding-top: 70px;
    .container{
        
    }
    .banner_cloud{
        font-size: 0;
        width: 60%;
        margin: auto;
        position: relative;
        background-image: url(../img/header/banner_cloud.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 40px 0px 30px 0px;
        .icon_l{
            width: 25px;
            height: 25px;
        }
        .icon_r{
            width: 25px;
            height: 25px;
        }
        .title{
            margin: 0px 10px;
        }
    }
    .about{
        margin: 10px;
        text-align: center;
        img{
            width: 15%;
            display: inline-block;
            vertical-align: middle;
        }
        p{
            margin: 0 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}



.modify{

    .container{
        width: auto;
    }
    .part_box{
        width: 100%;
        text-align: center;
        .text{
            padding: 10px;
            text-align: center;
            p{
                display: inline-block;
                vertical-align: middle;
            }
            input{
                display: inline-block;
                vertical-align: middle;
                border-radius: 5px;
            }
        }

        .pic_box{
            position: relative;
            // background-image: url(../img/modify/home_modify_b.png);
            // background-repeat: no-repeat;
            // background-size: 70%;
            // background-position-x: center;
            // background-position-y: bottom;
            outline: 3px dotted #ccc;
            width: 70%;
            padding-bottom: 70%;
            margin: auto;

            img{
                position: absolute;
            }

            .leg_pic{
                width: 100%;
            }

            .body_pic{
                width: 100%;
            }

            .head_pic{
                width: 100%;
            }

            .tail_pic{
                width: 100%;
            }

        }

        .tool{
            text-align: center;
            margin-top: 10px;
            img{
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px;
            }
        }
        .change_color{
            padding: 10px;
            text-align: center;
        }
        .btn_box{
            text-align: center;
            @include btn_cloudp(100px);
            .btn_cloudp{
                margin: 10px 20px;
            }
            @include btn_cloudb(100px);
            .btn_cloudb{
                margin: 10px 20px;
            }
            @include btn_cloudy(100px,$col_btn_orange);
            .btn_cloudb{
                margin: 10px 20px;
            }
        }
    }

    .select_box{
        width: 100%;
        font-size: 0;
        padding-bottom: 90%;
        .button_ul{
            width: calc(100% - 20px);
            margin: 10px;
            text-align: center;
            position: relative;
        }

        .part_button{
            // width: 15%;
            margin: 10px;
            padding: 5px 10px;
            display: inline-block;
            font-size: 16px;
            text-align: center;
            background-color: $col_modify_box;
            border-radius: 15px 15px 0px 0px;
            border-top: 3px solid $col_modify_boxshadow;
            border-left: 3px solid $col_modify_boxshadow;
            border-right: 3px solid $col_modify_boxshadow;

            label{
                color: $col_black;
                cursor: pointer;
            }

            input{
                display: none;
                &:checked ~ ul{
                    display: flex;
                }
            }

            .part_wrap{
                position: absolute;
                width: 95%;
                display: flex;
                flex-wrap: wrap;
                top: 45px;
                left: 0;
                right: 0;
                margin: auto;
                background-color: $col_white;
                display: none;
                border: 5px solid $col_modify_box;
                border-radius: 30px;
                box-shadow: 2px 2px 0px 3px $col_modify_boxshadow;
                li{
                    width: 50%;
                    box-sizing: border-box;
                    padding: 10px;
                    img{
                        width: 70%;
                        cursor: pointer;
                        margin-top: 10px;
                        &:hover {
                            filter: drop-shadow(0px 0px 10px $col_btn_pink);
                        }
                    }
                }
            }
        }
        


    }
    .info_box{
        box-sizing: border-box;
        padding: 20px 10px;
        .info_wrap{
            width: 95%;
            box-sizing: border-box;
            margin:  auto;
            border: 5px solid #fff;
            background-color: $col_modify_box;
            border-radius: 30px;
            box-shadow: 0px 0px 0px 10px #639b9f,
            0px 7px 0px 10px #639b9f;
            padding: 10px;
        }

        h3{
            font-size: $h3_fz;
            padding: 10px;
        }

        .jump_ability{
            display: flex;
            padding: 10px 10px 10px 40px;
            p{
                width: 30%;
                align-self: center;
            }
            .pic{
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .jump_bar{
                width: 95%;
                height: 20px;
                background-color: #fff;
                border-radius: 5px;
                position: relative;

                .bar_add{
                    width: 50%;
                    height: 20px;
                    border-radius: 5px;
                    background-color: #ef7b78;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    transition: 0.7s;
                }
                .meter{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 5px;
                    margin: auto;
                    font-size: 14px;
                    line-height: 20px;
                    color: $col_black;
                }
            }
        }
        .life_ability{
            display: flex;
            padding: 10px 10px 10px 40px;
            p{
                width: 30%;
                align-self: center;
            }
            .pic{
                width: 70%;
                font-size: 0;
                display: flex;
                align-items: center;
                img{
                    margin: 0px 5px;
                }
            }
        }
        .evemt_ability{
            font-size: 0;
            .chart_canvas{
            }
        }
        .hit{
            margin: 10px;
            font-size: $s_fz;
        }
    }

}

.remind_login{
    width: 70%;
    height: 30%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: $col_white;
    border: 5px solid $col_btn_orange;
    border-radius: 15px;
    text-align: center;
    display: none;
    animation: showup .4s linear;
    p{
        margin-top: 50px;
    }
    .close_remind{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #faa;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .btn_cloudb{
        margin-top: 30px;
    }

}
.remind_login.show{
    display: block;
}

@keyframes showup {
    0%{opacity: 0;}
    100%{opacity: 1;}

}





.need_name{
    width: 200px;
    height: 120px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: $col_white;
    border: 5px solid $col_btn_orange;
    border-radius: 15px;
    text-align: center;
    display: none;
    animation: showup .4s linear;
    p{
        margin-top: 50px;
    }
    .close_remind{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #faa;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
.need_name.show{
    display: block;
}


// 平板~平板~平板~平板~平板~平板~平板~平板~
@media screen and (min-width:768px){
    
}

// 電腦~電腦~電腦~電腦~電腦~電腦~電腦~電腦~
@media screen and (min-width:1200px){
    

    
    .modify_body h1{
        font-size:$h1_fz;

    }

    .modify_body{
        background-image: url(../img/modify/modify_bg.png);
        background-size: cover;

    }

    .container{
        max-width: 1200px;
        margin: auto;
    }

    .modify_banner{
        margin: auto;
        padding-top: 120px;

        .banner_cloud{
            width: 30%;
            padding: 60px 0px 50px 0px;

            .title{
                margin: 0px 20px;
            }

        }
        .about{
            img{
                width: 80px;
            }
        }
    }


    .modify{
        padding-bottom: 50px;
        .container{
            display: flex;
        }

    .part_box{
        width: 40%;
        // padding: 20px 10px;
        .pic_box{
            width: 90%;
            padding-bottom: 90%;
        }
        .tool{
            padding-bottom: 20px;
        }
    }

    .select_box{
        width: 30%;
        padding: 50px 10px 10px 10px;
        .button_box{
            margin: 0;
        }
        .part_box{
            .part_wrap{
                .part_item{
                    height: 150px;
                }
            }
        }
    }


    .info_box{
        width: 30%;
        padding: 50px 20px 40px 20px;
        margin: 0;
        .evemt_ability{
            .m_canvas{
                height: 150px;
            }
        }
        .hit{
            margin: 10px 0px;
        }
    }
    }

    .remind_login{
        width: 350px;
        height: 200px;
    }

    .need_name{
        width: 300px;
    }

}
