.resv_body{
    font-family: "Microsoft JhengHei", "Helvetica", "sans-serif";
    background-color: #ceedeb;
    background-image: url(../img/resv/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    .container{
        display: flex;
        margin: auto;
        max-width: 1200px;
        padding: 10px;
        box-sizing: border-box;
    }
    .resv_banner{
        overflow: hidden;
        padding: 10% 0 5%;
        text-align: center;
        position: relative;
        .banner_title{
            font-size: 0;
            width: 60%;
            margin: auto;
            position: relative;
            background-image: url(../img/header/banner_cloud.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 40px 0px 30px 0px;
            @media screen and (min-width:1200px){
                width: 30%;
                padding: 60px 0px 50px 0px;
            }
            .icon_l{
                width: 25px;
                height: 25px;
            }
            .icon_r{
                width: 25px;
                height: 25px;
            }
            .title{
                margin: 0px 10px;
                @media screen and (min-width:1200px){
                    margin: 0px 20px;
                }
            }
        }
        .cloud_topright, .cloud_train, .cloud_center, .cloud_animal, .cloud_buttom, .resv_train, .rhinoceros{
            position: absolute;
        }
    }
}

.resv_info{
    width: 100%;
    min-height:67vh;
    .container{
        align-items: center;
        .resv_calendargroup{
            .resv_calendar{
                background-image: url("../img/resv/calendar_bg.png");
                z-index: 2;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                height: 580px;
                padding:220px  0 40px;
                box-sizing: border-box;
                // position: relative;
                .calendarbox{
                    // position: absolute;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -25%);
                    // border: 1px solid #ccc;
                    width: 80%;
                    margin: auto;
                    background:#f0e4ba;
                    border-radius: 20px;
                    .calendar_title{
                        text-align: center;
                        color: #776f6f;
                        padding-bottom: 2%;
                        box-sizing: border-box;
                        font-size: $h1_fz;
                        .fa-chevron-left {
                            &:before{
                                content: "\f053";
                            }
                        }
                        .fa-chevron-right {
                            &:before{
                                content: "\f054";
                            }
                        }
                    }
                    .week_group{
                        font-size: $m_fz;
                        font-weight: bold;
                        color:$col_brown;
                        ul{
                            display: flex;
                            justify-content: center;
                            li{
                                width: 14.2%;
                                height: 36px;
                                line-height: 36px;
                                font-size: 18px;
                                list-style-type: none;
                                display: block;
                                box-sizing: border-box;
                                text-align: center;
                                border-bottom: 1px solid #ab8450;
                                cursor: pointer;
                                // float: left;
                            }
                            .clearfix{
                                clear: both;
                            }
                        }
                    }
                    .day_group{
                        font-size: $m_fz;
                        font-weight: bold;
                        color:$col_brown;
                        ul{
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            li{
                                width: 14.2%;
                                height: 36px;
                                line-height: 36px;
                                font-size: 18px;
                                list-style-type: none;
                                display: block;
                                box-sizing: border-box;
                                text-align: center;
                                border: 1px solid #ab8450;
                                cursor: pointer;
                            }
                            // .unaviable{
                            //     background: #a8a6a6;
                            //     border-radius: 10px;
                            // }
                            // .full_booked{
                            //     background: #f19149;
                            //     border-radius: 10px;
                            //     border: 1px solid #f19149;
                            // }
                            // 今日
                            .colorbox{
                                // border:1px solid #FFC300;
                                background:#33a1d1;
                            }
                            // 今天之前的日期
                            .lightgrey{
                                color:#AAA;
                            }                    
                        }
                    }
                    .curday_after{
                        li{
                            &:hover{
                                font-weight: bold;
                                color: #e5ecec;
                                background: #e89e4d;
    
                            }        
                        }
                    }
                }
                .calendar_text{
                    display: flex;
                    width: 80%;
                    margin: auto;
                    font-size: 0px;
                    li{
                        display: inline-block;
                        font-size: $s_fz;
                        padding: 5px;
                        // width: 5%;
                    }
                    .unaviable{
                        background-color: #a8a6a6;
                        border-radius: 20px;
                        margin-left: 10px;
                    }
                    .full_booked{
                        background-color: #f19149;
                        border-radius: 20px;
                        margin-left: 10px;
                    }
                }
            }
        }
        .resv_form{
            position: relative;
            border: 1px solid #d1c0a5;
            border-radius: 40px;
            background-color: #f3edcb;
            padding: 4.16%;
            box-sizing: border-box;
            // height: 470px;
            border-width: 4.43px;
            .show_data{
                border: 3px dashed #d1c0a5;
                border-radius: 20px;
                box-sizing: border-box;
                background: rgba(240, 240, 240, 0.8);
                display: inline-block;
                width: 100%;
                padding: 4.16%;
                .show_datatime, .show_datanum{
                    margin-left: 10px;
                }
            }
            .resvform_title{
                padding: 10px;
            }
            .resvform_users{
                margin: auto;
                padding: 11px 6px;
                label{
                    margin-right: 2.83%;
                }
                span{
                    font-size: $xs_fz;
                    color: #c92626;
                    font-weight: bold;
                }
                #resv_canvas{
                    border: 1px solid #ccc;
                }
            }
            .resv_submit{
                padding-bottom: 8px;
                @include btn_cloud (100px,$col_btn_pink);
                .btn_cloud{
                    float: right;
                }
            }
        }
    }
    .entrances{
            margin-top: 80px;
            box-sizing: border-box;
            position: relative;
            width: 100%;
        .train_animal{
            position: absolute;
            right: 28%;
            bottom: 0;
        }
        .gate{
            position: absolute;
            right: 2%;
            bottom: 0%;
        }
    }
}
@media screen and (max-width: 767px){
    .resv_banner{
        .banner_title{
            padding-top:70px;
        }
        .cloudtop,.cloud_topright,.cloud_train,.cloud_center,.rhinoceros,.cloud_animal,.cloud_buttom{
            width: 15%;
        }
        .cloud_buttom {
            position: absolute;
            top: 66%;
            right: -7%;
        }
        .cloud_animal{
            top: 71%;
            right: 14%;
        }
        .cloudtop{
            top: 13.09%;
            left: -3.42%;
        }
        .cloud_topright{
            right: 1%;
            top: 32%;
        }
        .cloud_train{
            bottom: 0%;
            left: 11%;
        }
        .cloud_center{
            bottom: 27%;
            left: 3.5%;
        }
        .rhinoceros{
            bottom: 12%;
            right: 5%;
        }
        .cloud_buttom{
            display: none;
        }
        .resv_train{
            top: 42%;
            left: -4%;
            width: 13%;        
        }
        .cloud_animal{
            top: 83%;
            right: 4%;
        }
    }
    .resv_info{
        .container{
                display: flex;
                flex-wrap: wrap;
                .resv_calendargroup{
                    .resv_calendar{
                        width: 100%;
                    }
                    .resv_desc{
                        width: 80%;
                        margin: auto;
                        p{
                            font-size: $s_fz ;
                            line-height: 1.8;
                            padding: 8px 12px;
                        }
                    }
                }
                .resv_form{
                    width: 100%;
                    margin: 50px 10px;
                    .wooden{
                        position: absolute;
                        top: -7%;
                        right: -7%;
                        width: 20%;
                    }
                    .resv_submit{
                        text-align: center;
                        .btn_cloud{
                            float: none;
                            text-align: center;
                            margin: 0;
                        }
                    }
                }
        }
        .entrances{
            .train_animal,.gate{
                width: 20%;
            }
        }   
    }
}

@media screen and (min-width: 768px) {
    .resv_body{
        .resv_banner{
            .cloud_buttom {
                position: absolute;
                top: 66%;
                right: -7%;
            }
            .cloudtop{
                top: 13.09%;
                left: -3.42%;
            }
            .cloud_topright{
                right: 1%;
                top: 32%;
            }
            .cloud_train{
                bottom: 3%;
                left: 19%;
            }
            .cloud_center{
                bottom: 45%;
                left: 4.5%;
            }
            .rhinoceros{
                bottom: 12%;
                right: 11%;
            }
            .cloud_buttom{
                display: none;
            }
            .resv_train{
                top: 42%;
                left: -4%;
                width: 9%;        
            }
            .cloud_animal{
                top: 80%;
                right: 8%;
                width: 14%;
            }  
        }
        .container{
            display: flex;
            margin: auto;
            width: 100%;
            .resv_calendargroup{
                width: 50%;
                .resv_desc{
                    p{
                        font-size: $xs_fz ;
                        padding: 4px 10px;
                    }
                }
            }
            .resv_form{
                width: 50%;
                margin: 70px 6.67%;
                .wooden{
                    position: absolute;
                    top: -9%;
                    right: -7%;
                }
            }
        }
        .entrances{
            .gate{
                width: 10%;
            }
            .train_animal{
                width: 18%;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .entrances{
        .gate{
            width: 9%;
        }
        .train_animal{
            width: 16%;
        }
    }
}
